html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
  background: #fff;
}

.MuiSnackbar-root {
  position: fixed;
  right: 8px;
  bottom: 8px;
  left: auto;
}

@media (min-width: 600px) {
  .MuiSnackbar-root {
    position: fixed;
    right: 24px;
    bottom: 24px;
    left: auto;
  }
}